---
import markdownIt from 'markdown-it';
const md = markdownIt();

interface Props {
  people: {
    name: string;
    nick?: string;
    titl?: string;
    desc: string;
    icon: string;
    mail?: string;

  }[];
  title?: string;

}

const {people, title}: Props = Astro.props;
---

<div class="flex flex-col gap-6 items-center justify-between w-full max-w-5xl ml-auto mr-auto">
  {title ? <h1 class="text-3xl md:text-5xl font-bold text-center mb-2 uppercase break-words w-full">{title}</h1> : null}
  {people.map((user) =>
      <div
          class="flex flex-col md:odd:flex-row md:even:flex-row-reverse items-center justify-between w-full gap-12 group p-4 overflow-hidden">
        <img src={user.icon} alt="Staff Member Avatar" loading="lazy" class="max-w-56 md:max-w-80 w-full">
        <div class="max-w-full flex flex-col justify-center items-center md:items-start md:group-even:items-end md:justify-start flex-grow text-center md:text-left md:group-even:text-right">
          <h2 class="font-bold text-2xl flex flex-row flex-wrap gap-3 justify-center md:justify-start items-center group-even:flex-row-reverse">
            <span>{user.name.split(' ')[0]} {user.nick ? <span
                class="font-hand text-[1.6rem] font-bold">"{user.nick}"</span> : null} {user.name.split(' ').slice(1).join(' ')}
            </span>
            {user.mail ?
                <a class="hover:scale-110 transition duration-100" href={`mailto:${user.mail}`}>
                  <img class="h-6"
                       alt="Icon"
                       loading="lazy"
                       src="/assets/icons/mail-share.svg">
                </a> : null}
          </h2>
          <h3 class="mt-1 text-lg">{user.titl}</h3>
          <p class="mt-4 break-words w-full" set:html={md.render(user.desc)}/>
        </div>
      </div>
  )}
</div>